p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

header {
	padding: 21px 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: white;
	z-index: 2;
}

#no-index {
	border-bottom: 5px solid #F5F5F8;
}

header .row {
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	margin-right: 72px;
}

.header__logo p {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.619718px;
	color: #020957;
	text-transform: uppercase;
}

.navbar {
	padding: 0;
}

.nav-link {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #020957!important;
	padding: 0!important;
	margin: 0 60px 0 0;
}

.nav-link:hover {
	color: #1574F6!important;
}

header .block__telephone a {
	width: 261px;
	height: 44px;
	background: #1574F6;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
}

header .block__telephone a:hover {
	background: #F2F5FA;
	color: #1574F6;
	text-decoration: none;
}

.welcome {
	margin-top: 86px;
	padding: 167px 0 301px 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/welcome.jpg");
}

.welcome .row {
	justify-content: space-between;
}

.welcome .block__text h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 100px;
	width: 730px;
	color: #FFFFFF;
}

.welcome .block__text p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: -0.507042px;
	color: #FFFFFF;
	margin: 39px 0 81px 0;
}

.welcome .block__text a {
	width: 261px;
	height: 56px;
	background: #1574F6;
	border-radius: 5px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;

	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome .block__text a:hover {
	background: #F2F5FA;
	color: #1574F6;
	text-decoration: none;
}

.welcome .block__links a {
	width: 55px;
	height: 55px;

	background: #FFFFFF;
	border: 1px solid rgba(15, 17, 32, 0.15);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 32px;
}

.welcome .block__links a:hover {
	background: #1574F6;
}

.welcome .block__links a:hover img {
	filter: invert(1);
}

.directions {
	padding: 100px 0 0 0;
	background-image: url("../img/directions.png");
	background-repeat: no-repeat;
	background-position-x: right;
	background-color: #1574F6;
}

.directions__blue {
	height: 286px;
	background: #020957;
}

.directions h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	letter-spacing: -1.35211px;
	color: #F2F5FA;

	margin-bottom: 50px;
}

.directions .text__after-h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	letter-spacing: -0.507042px;
	color: #F2F5FA;

	margin-bottom: 166px;
}

.directions .blocks-directions {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: -67px;
}

.directions .blocks-directions div {
	padding: 76px 31px 67px 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
	position: relative;

	width: 370px;
	height: 523px;
	background: #FFFFFF;
	box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.0669441);
}

.directions .blocks-directions div p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	letter-spacing: -0.450704px;
	color: #4C5068;

	top: 195px;
	left: 31px;
	right: 30px;
	
	position: absolute;
}

.directions .blocks-directions div h4 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
	letter-spacing: -0.676057px;
	color: #020957;
}

.directions .blocks-directions div a {
	width: 208px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #F2F5FA;
	border-radius: 5px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height */
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #1574F6;
}

.directions .blocks-directions div a:hover {
	background: #F2F5FA;
	text-decoration: none;
}

.news {
	padding: 79px 0 101px 0;
	background: #F2F5FA;
}

.news h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	letter-spacing: -1.35211px;
	color: #020957;

	margin-bottom: 30px;
}

.news .row:nth-child(2) a {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #1574F6;

	margin-top: 32px;
	margin-bottom: 48px;
}

.news .text__after-h2 {
	width: 586px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	letter-spacing: -0.507042px;
	color: #4C5068;
}

.news .row:nth-child(2) a:hover {
	text-decoration: none;
}

.news .row:nth-child(2) a span {
	margin-left: 25px;
}

.index-slider {
	width: 100%;
}

.slick-list {
	overflow: hidden;
}

.index-slider .slide__block {
	width: 100%;
	display: flex;
	justify-content: center;
}

.index-slider .slide {
	width: 354px!important;
	height: 562px;
	background: #FFFFFF;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	margin-bottom: 10px;
}

.index-slider .slide img {
	max-width: 100%;
}

.index-slider .slide .block__text {
	padding: 22px 23px 38px 23px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.index-slider .slide .block__text h5 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.56338px;
	color: #020957;

	margin-bottom: 22px;
}

.index-slider .slide .block__text p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: -0.450704px;
	color: #4C5068;
}

.slick-dots {
	position: inherit;
	bottom: 0;

	margin-top: 152px;
}

.slick-dots li {
	width: 14px;
	height: 14px;
	margin: 0 8px;
}

.slick-dots li button {
	width: 14px;
	height: 14px;
}

.slick-dots li button:before {
	font-size: 24px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 14px;
	height: 14px;
	text-align: center;
	color: #020957;
	opacity: 0.2;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	font-size: 48px;
	color: #1574F6;
}

.slick-dots li button:hover:before {
	color: #1574F6;
}

.projects {
	width: 100%;
	height: 100%;
	padding: 160px 0 250px 0;
	background-image: url("../img/projects-back-left.jpg");
    background-color: #020957;
    background-position: left;
    background-repeat: repeat-y;
}

.projects h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.35211px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.projects .text__after-h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.507042px;
    color: #FFFFFF;
    width: 640px;

    margin-bottom: 160px;
}

.projects .projects-slider {
	width: 100%;
}

.projects .slider__block {
	width: 100%;
}

.projects .slide {
	width: 1480px;
	display: flex;
	justify-content: space-between;
}

.projects .text__block {
	width: 700px;
}

.projects .slide h5 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -1.35211px;
	color: #FFFFFF;

	margin-top: 20px;
}

.projects .slide a {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	/* identical to box height, or 175% */
	display: flex;
	align-items: center;
	color: #FFFFFF;
}

.projects .slide a:hover {
	text-decoration: none;
	cursor: pointer;
}

.projects .slide a img {
	margin-left: 23px;
}

.projects .slide .block-p {
	display: flex;
}

.projects .slide .p-slide-index {
	width: 700px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
	margin-bottom: 39px;
}

.projects .slide .block-p p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	margin-top: 33px;
	margin-bottom: 39px;
	color: #8488BA;
}

.projects .slide .block-p p:first-child {
	margin-right: 39px;
}

.slider__div {
	position: relative;
	width: 100%;
}

.slider__div .arrows {
	position: absolute;
	bottom: 0;
	left: 779px;
	display: flex;
}

.slider__div .arrows .prev {
	margin-right: 63px;
}

.slider__div .arrows .prev, .slider__div .arrows .next {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #8488BA;
}

.slider__div .arrows .prev:hover, .slider__div .arrows .next:hover {
	color: #FFFFFF;
	cursor: pointer;
}

.slider__div .arrows .prev img {
	margin-right: 25px;
}

.slider__div .arrows .next img {
	margin-left: 25px;
}

.slider__div .arrows .prev img:first-child {
	transform: rotate(180deg);
	display: none;
}

.slider__div .arrows .next img:last-child {
	transform: rotate(180deg);
}

.slider__div .arrows .next img:first-child {
	display: none;
}

.slider__div .arrows .prev:hover img:first-child {
	 display: inline-block;
}

.slider__div .arrows .prev:hover img:last-child {
	display: none;
}

.slider__div .arrows .next:hover img:first-child {
	display: inline-block;
}

.slider__div .arrows .next:hover img:last-child {
	display: none;
}

.about-company {
	background-image: url("../img/about-company__back.jpg");
	background-repeat: no-repeat;
	background-position: left top 216px;
}

.about-company .row:first-child {
	padding: 70px 0;
}

.about-company .row:last-child {
	justify-content: space-between;
	align-items: center;
	padding: 320px 0 370px 0;
}

.about-company .row:last-child .block__text h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -1.35211px;
	max-width: 622px;
	color: #FFFFFF;
	height: 137px;
}

.about-company .row:last-child .block__text .text__after-h2 {
	max-width: 593px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: -0.507042px;
	color: #FFFFFF;
	margin: 31px 0 82px 0;
}

.about-company .row:last-child .block__text a {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 261px;
	height: 56px;
	background: #020957;
	border-radius: 5px;
}

.about-company .row:last-child .block__text a:hover {
	background: #F2F5FA;
	color: #1574F6;
	text-decoration: none;
}

.about-company .row:last-child .block__img {
	position: relative;
}

.about-company .row:last-child .block__img .mini-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: -0.507042px;
	color: #020957;
	position: absolute;
	bottom: -62px;
	right: 0;
}

footer {
	padding: 84px 0 104px 0;
	background: #020957;
}

footer .row {
	justify-content: space-between;
}

footer #logo__footer {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 53px;
	letter-spacing: -0.619718px;
	color: #FFFFFF;
}

footer p, footer a {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 32px;
	/* or 229% */
	color: #FFFFFF;
}

footer a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

footer p:first-child {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.56338px;
	color: #FFFFFF;
}

footer div:first-child p:first-child {
	margin-bottom: 44px;
}

footer div:first-child p:last-child {
	width: 354px;
}

footer div:nth-child(2) p:first-child {
	margin-bottom: 36px;
}

footer div .contacts a:first-child {
	margin-right: 36px;
}

footer div:nth-child(3) .contacts p {
	margin-top: 21px;
	width: 295px;
}

footer div:nth-child(3) p:first-child {
	margin-bottom: 39px;
}

footer div:last-child p:first-child {
	margin-bottom: 45px;
}

footer .map__site {
	display: flex;
}

footer .map__site div {
	display: flex;
	flex-direction: column;
}

footer .map__site .left__block {
	margin-right: 93px;
}

footer .map__site div a {
	margin-bottom: 24px;
}

footer .social {
	display: flex;
	justify-content: space-between;
}

footer .social a {
	width: 39px;
	height: 39px;
	background: #4C5068;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 26px;
}

footer .social a:last-child {
	margin-right: 0;
}

footer .map__site div a:last-child {
	margin-bottom: 0;
}

.main-directions {
	padding-top: 51px;
	padding-bottom: 74px;
	margin-top: 86px;
}

.map-inf {
	margin-bottom: 48px;
}

.map-inf .map__no-active:after {
	content: "/";
	margin: 0 5px;
}

.map-inf .map__no-active a, .map-inf .map__active a {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 32px;
	color: #4C5068;
}

.map-inf .map__no-active a:hover, .map-inf .map__active a:hover {
	color: #020957;
	text-decoration: none;
}

.main-headings {
	flex-direction: column;
}

.main-headings h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -1.35211px;
	color: #020957;
}

.main-headings .text__after-h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: -0.507042px;
	color: #4C5068;
	margin-top: 31px;
	margin-bottom: 85px;
}

.main-directions-content {
	justify-content: space-between;
}

.main-directions-content .block {
	width: 715px;
	height: 620px;
	background: #FFFFFF;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	margin-bottom: 46px;
}

.main-directions-content .block:hover {
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);
}

.main-directions-content .block img {
	max-width: 100%;
}

.main-directions-content .block .block__text {
	padding: 49px 0 52px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-directions-content .block .block__text h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	letter-spacing: -0.676057px;
	color: #020957;
}

.main-directions-content .block .block__text p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	letter-spacing: -0.450704px;
	color: #4C5068;
	width: 560px;
	margin: 18px 0;
}

.main-directions-content .block .block__text a {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #1574F6;
	width: 210px;
	height: 55px;
	border: 1px solid #F2F5FA;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-directions-content .block .block__text a:hover {
	background: #F2F5FA;
	text-decoration: none;
}

.main-projects {
	padding: 50px 0 120px 0;
	margin-top: 86px;
}

.main-projects .text__after-h2 {
	width: 916px;
}

.main-projects-content .block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 200px;
}

.main-projects-content .block img {
	max-width: 100%;
}

.main-projects-content .block:last-child {
	margin-bottom: 0;
}

.main-projects-content .block .text__block {
	width: 701px;
}

.main-projects-content .block .text__block h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -1.35211px;
	color: #020957;
	margin-top: 26px;
}

.main-projects-content .block .text__block .block-p {
	display: flex;
}

.main-projects-content .block .text__block .block-p p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #8488BA;
	margin: 33px 0 39px 0;
}

.main-projects-content .block .text__block .block-p p:first-child {
	margin-right: 39px;
}

.main-projects-content .block .text__block .main-p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #020957;
	width: 701px;
	margin-bottom: 87px;
}

.main-projects-content .block .text__block a {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #020957;
}

.main-projects-content .block .text__block a:hover {

}

.main-projects-content .block .text__block a img {
	margin-left: 23px;
}

.more__projects {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #F2F5FA;
	width: 261px;
	height: 56px;
	background: #020957;
	border-radius: 5px;

	margin-top: 120px;
}

.more__projects:hover {
	color: #1574F6;
	background: #F2F5FA;
	text-decoration: none;
}

.main-news-content {
	justify-content: space-between;
}

.main-news-content .block {
	width: 469px;
	height: 740px;
	background: #FFFFFF;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	margin-bottom: 90px;
}

.main-news-content .block:hover {
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);

}

.main-news-content .block img {
	max-width: 100%;
}

.main-news-content .block .text__block {
	padding: 15px 30px 28px 31px;
}

.main-news-content .block .text__block h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -0.56338px;
	color: #020957;
}

.main-news-content .block .text__block .date__block {
	margin-bottom: 3px;
}

.main-news-content .block .text__block .date__block span {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: -0.450704px;
	color: #4C5068;
}

.main-news-content .block .text__block .main-p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: -0.450704px;
	color: #4C5068;

	margin: 21px 0 9px 0;
}

.main-news-content .block .text__block .block-a {
	display: flex;
	width: 100%;
	justify-content: center;
}

.main-news-content .block .text__block a {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #1574F6;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 208px;
	height: 56px;
	border: 1px solid #F2F5FA;
	border-radius: 5px;
}

.main-news-content .block .text__block a:hover {
	text-decoration: none;
	background: #F2F5FA;
}

.main-projects .more__projects {
	margin-top: 30px!important;
}

.main-solutions {
	padding-top: 50px;
	margin-top: 86px;
}

.main-solutions .solutions-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 83px;
}

.main-solutions .solutions-content .block {
	width: 454px;
	height: 473px;
	background: #FFFFFF;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	padding: 38px 26px 37px 21px;
}

.main-solutions .solutions-content .block .a_s-block {
	margin-bottom: 52px;
}

.main-solutions .solutions-content .block .a_s-block a {
	display: inline-block;
	margin-right: 27px;
	margin-bottom: 18px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	text-decoration-line: underline;
	color: #020957;
}

.main-solutions .solutions-content .block h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: -0.676057px;
	color: #020957;
}

.main-solutions .solutions-content .block p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: -0.450704px;
	color: #4C5068;
	margin: 25px 0 40px 0;
}

.main-solutions .solutions-content .block .block-solution-a {
	display: flex;
	justify-content: center;
	width: 100%;
}

.main-solutions .solutions-content .block .block-solution-a a {
	width: 208px;
	height: 56px;
	border: 1px solid #F2F5FA;
	border-radius: 5px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #1574F6;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-solutions .solutions-content .block .block-solution-a a:hover {
	background: #F2F5FA;
	text-decoration: none;
}

.products .products-head h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	letter-spacing: -0.676057px;
	margin-bottom: 50px;
	color: #020957;
}

.products .products-content {
	padding-bottom: 114px;
}

.products .products-content h4 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 50px;
	color: #020957;
}

.products .products-content .block-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}

.products .products-content .block-content .block {
	width: 339px;
	height: 149px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	margin-bottom: 50px;
}

.main-contacts {
	margin-top: 86px;
	padding-top: 50px;
	padding-bottom: 124px;
    background: url("../img/contacts-back.png") no-repeat right top -5px;
}

.main-contacts .contacts-content {
    display: flex;
    justify-content: space-between;
}

.main-contacts .contacts-content form {
    display: flex;
    flex-direction: column;
}

.main-contacts .contacts-content form input {
    width: 760px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D6D6E0;
    border-radius: 3px;
    margin-bottom: 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #4C5068;
    padding-left: 15px;
}

.main-contacts .contacts-content form textarea {
    resize: none;
    height: 220px;
    background: #FFFFFF;
    border: 1px solid #D6D6E0;
    border-radius: 3px;
    margin-bottom: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #4C5068;
    padding-left: 15px;
}

.main-contacts .contacts-content form button {
    height: 56px;
    background: #020957;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.main-contacts .contacts-content form button:hover {
    background: #F2F5FA;
    color: #1574F6;
    cursor: pointer;
}

.main-contacts .contacts-content .contacts-inf p, .main-contacts .contacts-content .contacts-inf a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.450704px;
    color: #4C5068;
}

.main-contacts .contacts-content .contacts-inf h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.35211px;
    color: #020957;
    margin-bottom: 19px;
}

.main-contacts .contacts-content .contacts-inf .block__main-inf {
    display: flex;
    margin: 25px 0;
}

.main-contacts .contacts-content .contacts-inf .block__main-inf .left p {
    width: 250px;
    margin-right: 135px;
}

.main-contacts .contacts-content .contacts-inf .block__main-inf .right {
    display: flex;
    flex-direction: column;
}

.main-contacts .contacts-content .contacts-inf .block__main-inf .right a:first-child {
    font-weight: bold;
}

.main-contacts .contacts-content .contacts-inf .requisites-p {
    margin-bottom: 19px;
}

.main-contacts .contacts-content .contacts-inf .contacts-society p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #020957;
    margin-bottom: 19px;
}

.main-contacts .contacts-content .contacts-inf .contacts-society .block-a {
    display: flex;
}

.main-contacts .contacts-content .contacts-inf .contacts-society .block-a a {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4C5068;
    margin-right: 30px;
}

.main-contacts .contacts-content .contacts-inf .contacts-society .block-a a:last-child {
    margin-right: 0;
}

.main-contacts .contacts-content .contacts-inf .contacts-society .block-a a:hover {
    background: #1574F6;
}

.main-map iframe {
	height: 684px;
}

.news-about-company {
	background: white;
}

.news-about-company .row:first-child {
	align-items: start!important;
}

.news-about-company .row:first-child .text__after-h2 {
	text-align: start;
}

.main-about-company {
	background: none;
    padding-bottom: 85px;
}

.main-about-company h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.35211px;
    color: #020957;

    margin-bottom: 50px;
}

.main-about-company p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #4C5068;
    margin-bottom: 32px;
}

.main-about-company p.bolder {
    font-weight: bold;
}

.main-about-company img {
    max-width: 100%;
    margin: 54px 0 75px 0;
}

.main-text {
    background: none;
}

.main-text h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -1.35211px;
    color: #020957;
    margin-bottom: 40px;
}

.main-text .map-inf {
    margin-bottom: 0;
}

.main-text p {
    margin-bottom: 35px;
}

.main-text .list {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.676057px;
    color: #020957;
}

.main-text .basic {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #4C5068;
}

.main-text .basic-bold {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.676057px;
    color: #020957;

    margin-bottom: 41px;
}

.main-text ul {
    margin-bottom: 35px;
}

.main-text ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #4C5068;
}

.main-text .block-citata {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-text .block-citata .citata {
    padding: 45px 75px;
    background: #F9F9F9;
	margin: 65px 0 100px 0;
}

.main-text .block-citata .citata p:first-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.56338px;
    color: #020957;

    margin-bottom: 15px;
}

.main-text .block-citata .citata p:last-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #4C5068;
    margin-bottom: 0;
}

.main-text .block-img {
    display: flex;
    justify-content: center;
	margin-bottom: 50px;
}

.main-text .block-img img {
    max-width: 100%;
    margin-right: 30px;
}

.main-text .block-img img:last-child {
    margin-right: 0;
}

.block-manufacturer {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 50px;
}

.block-manufacturer .block-img-manufacturer {
	width: 395px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F0F0F0;

	margin-right: 70px;
}

.block-manufacturer .block-img-manufacturer img {
	max-width: 100%;
}

.block-manufacturer .block-text-manufacturer h5 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -1.35211px;
	color: #020957;

	margin-bottom: 28px;
}

.block-manufacturer .block-text-manufacturer a {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	text-decoration-line: underline;
	color: #020957;
}

.main-text-2 {
	padding-bottom: 241px;
}

@media (min-width: 1500px) {
	.container {
		max-width: 1480px;
	}
}

@media (max-width: 1920px) {
	.header__logo {
		margin-right: 20px;
	}
	.nav-link {
		margin: 0 20px 0 0;
	}
}

@media (max-width: 1500px) {
	.main-contacts .contacts-content {
		flex-direction: column-reverse;
		align-items: center;
	}
	.main-contacts .contacts-content form {
		margin-top: 50px;
	}
	.main-contacts .contacts-content form input {
		width: 549px;
	}
	.main-projects-content .block {
		flex-direction: column;
		justify-content: center;
	}
	.main-directions-content {
		justify-content: center;
	}
	.main-solutions .solutions-content {
		justify-content: space-around;
	}
	.main-solutions .solutions-content .block {
		margin-bottom: 40px;
	}
	.slick-dots {
		margin-top: 30px;
	}

	.projects .slide .p-slide-index {
		width: 400px;
	}
	.projects .slide {
		width: 1000px;
		align-items: center;
	}
	.slick-slide .main-slide-img {
		width: 400px;
		height: 100%;
	}
	.projects .slide h5 {
		font-size: 40px;
	}
	.projects .text__block {
		width: 450px;
	}
	.about-company .row:last-child {
		padding-top: 100px;
		padding-bottom: 100px;
		justify-content: center;
	}
	.slider__div .arrows {
		bottom: -100px;
		display: flex;
		justify-content: center;
		width: 100%;
		left: 0;
		right: 0;
	}
	.projects {
		background-position: left -200px top 0;
	}
	.projects .text__after-h2 {
		margin-bottom: 100px;
	}
	.about-company .row:last-child .block__text h2 {
		text-align: center;
	}
	.about-company .row:last-child .block__text {
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.about-company {
		background-position: left -100px top 200px;
	}
}

@media (max-width: 1199px) {
	.projects .slide {
		width: 100%;
		align-items: center;
	}
	header .row {
		flex-direction: column;
		align-items: center;
	}
	.welcome {
		margin-top: 156px;
	}
	header .header__menu {
		margin: 15px 0;
	}
	.header__logo {
		margin: 0;
	}
	.directions .blocks-directions {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.directions .text__after-h2 {
		margin-bottom: 25px;
	}
	.directions .blocks-directions div {
		margin-bottom: 20px;
	}
	footer .map__site .left__block {
		margin-right: 25px;
	}
	.main-projects,.main-solutions, .main-directions, .main-contacts {
		margin-top: 161px;
	}
	.main-map iframe {
		height: 200px;
	}
}

@media (max-width: 991px) {
	.block-manufacturer .block-img-manufacturer {
		margin-right: 20px;
		margin-bottom: 30px;
	}
	.welcome, .main-project, .main-solutions, .main-directions, .main-projects, .main-contacts {
		margin-top: 86px;
	}
	header .row {
		flex-direction: row;
	}
	.welcome .row .block__text {
		width: 610px;
	}
	.welcome .block__text h1 {
		width: 100%;
		font-size: 50px;
	}
	.about-company .row:first-child img:first-child, .about-company .row:first-child img:last-child {
		display: none;
	}
	header .row {
		position: relative;
	}
	header .header__menu {
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
		height: 44px;
		display: flex;
		align-items: center;
	}
	header .block__telephone a {
		margin-right: 80px;
	}
	.navbar-collapse {
		padding-top: 20px;
		position: absolute;
		top: 50px;
		background: white;
		width: 150px;
		left: -95px;
	}
	.nav-link {
		margin: 0;
	}
	.navbar-nav .nav-item {
		margin-bottom: 20px;
		margin-left: 10px;
	}
	.projects {
		background-position: left -300px top 0px;
	}
	.projects .slide .block-p p:first-child {
		margin-right: 25px;
	}
	.projects .slide {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.projects .text__block {
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.projects .slide h5, .projects .slide .p-slide-index {
		text-align: center;
	}
	.slider__div .arrows {
		bottom: -50px;
	}
	footer .row div {
		margin-top: 20px;
	}
	.welcome .block__links {
		display: flex;
		margin-top: 50px;
	}
	.welcome {
		padding-bottom: 100px;
	}
	.projects .text__after-h2 {
		width: 100%;
	}
	.welcome .block__links a {
		margin-right: 30px;
		margin-bottom: 0;
	}
	.about-company .row:first-child img:nth-child(4) {
		display: none;
	}
	.about-company .row:last-child .block__img img {
		width: 600px;
	}
	.about-company .row:last-child .block__img .mini-text {
		color: white;
	}
	.news .text__after-h2 {
		width: 100%;
	}

	.main-projects .text__after-h2 {
		width: 100%;
	}
	.main-news-content {
		justify-content: center;
	}
}

@media (max-width: 767px) {
	.main-directions-content .block {
		width: 100%;
		height: 100%;
	}
	.main-directions-content .block .block__text p, .main-projects-content .block .text__block .main-p, .main-projects-content .block .text__block {
		width: 100%;
	}
	.products .products-content .block-content {
		justify-content: center;
	}
}

@media (max-width: 600px) {
	.about-company .row:last-child .block__img img {
		width: 400px;
	}
}

@media (max-width: 575px) {
	.main-text .block-citata .citata {
		padding: 30px;
	}
	.main-contacts .contacts-content .contacts-inf .block__main-inf {
		flex-direction: column;
	}
	.main-contacts .contacts-content .contacts-inf {
		width: 450px;
	}
	.main-contacts .contacts-content form input {
		width: 450px;
	}
	.main-news-content .block {
		height: 100%;}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.projects {
		background-image: none;
	}
	.projects .slide .block-p {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.projects .slide .block-p p:first-child {
		margin: 20px 0 0 0;
	}
	.projects .slide h5 {
		font-size: 35px;
	}
	.slider__div .arrows .prev {
		margin-right: 10px;
	}
	.projects .slide .p-slide-index {
		width: 300px;
	}
	header .block__telephone a {
		width: 150px;
		font-size: 10px;
	}
	.welcome .block__text h1 {
		font-size: 40px;
	}
	.about-company .row img {
		width: 100px;
	}
	.about-company .row:last-child .block__text h2 {
		font-size: 46px;
		margin-bottom: 20px;
	}
	.welcome {
		padding-top: 100px;
	}
	.directions__blue {
		height: 100px;
	}
	.slick-slide .main-slide-img {
		width: 300px;
	}
	footer div:last-child p:first-child {
		margin-bottom: 10px;
	}
	.main-solutions .solutions-content .block {
		height: 100%;
	}
}

@media (max-width: 451px) {
	.block-manufacturer .block-img-manufacturer {
		margin-right: 0;
		margin-bottom: 30px;
		width: 300px;
	}
	.main-contacts .contacts-content .contacts-inf {
		width: 300px;
	}
	.main-contacts .contacts-content form input {
		width: 300px;
	}
	.projects .text__block {
		width: 300px;
	}
	.main-projects-content .block .text__block h3 {
		font-size: 40px;
		text-align: center;
	}
	.main-headings h2 {
		font-size: 40px;
	}
}

@media (max-width: 430px) {
	.slider__div .arrows {
		flex-direction: column;
		align-items: center;
		bottom: -100px;
	}
	.slider__div .arrows .prev {
		margin: 0 0 20px -30px;
	}
	.slider__div .arrows .next {
		margin-right: -30px;
	}
	.projects .slide h5 {
		width: 200px;
	}
}

@media (max-width: 400px) {
	.index-slider .slide .block__text p {font-size: 12px}
	.index-slider .slide .block__text h5 {font-size: 18px}
	.about-company .row img {
		width: 90px;
	}
	.about-company .row:last-child .block__text .text__after-h2 {
		margin-top: 100px;
	}
	footer div:first-child p:last-child {
		width: 300px;
	}
	.about-company .row:last-child .block__img img {
		width: 300px;
	}
	.welcome .block__text h1 {
		line-height: 50px;
	}
	.projects h2 {
		font-size: 40px;
	}
	.directions .blocks-directions div {
		width: 300px;
	}
}

@media (max-width: 365px) {
	header .block__telephone a {
		width: 100px;
		font-size: 7px;
	}
}